*.log
*.aux
CalibHardwarePaper/DS_CALIS_hardware.out
*.toc
CalibHardwarePaper/DS_CALIS_hardware.synctex.gz
CalibHardwarePaper/DS_CALIS_hardware.pdf
CalibHardwarePaper.zip
CalibHardwarePaper/analysis.tex
CalibHardwarePaper/archive_bibitems_from_some_earlier_paper.txt
CalibHardwarePaper/DS_CALIS_hardware.bbl
CalibHardwarePaper/DS_CALIS_hardware.blg
*.zip
CalibHardwarePaper/DS_CALIS_hardware.pdf
CalibHardwarePaper/DS_CALIS_hardware.pdf
CalibHardwarePaper/Figures/CALIS_sideview_Cary.png
*.C~
CalibHardwarePaper/DS_CALIS_hardware_beforeRichardscomments_exceptIntro.pdf
CalibHardwarePaper/DS_CALIS_hardwareNotes.bib
CalibHardwarePaper/DS_CALIS_hardware_ReadingCommittee.pdf
*.pdf
